.BloqueProducto{
    background-color: rgb(63,34,18);
    float: left;
    border-radius: 5px;
    width: 20%;
    height: 250px;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.BloqueProducto h1{
    text-align: center;
    font-size: 18px;
    margin-top: 5%;
}
.BloqueProducto h2{
    text-align: left;
    font-size: 14px;
    margin-top: 5%;
    margin-left: 7%;
    float: left;
}
.bloqueImagen{
    height: 60%;
    width: 90%;
    margin-top: 6%;
    margin-left: 5%;
}
.imagenProd{
    width: 40%;
    height: 420px;
    margin-top: 5%;
    float: left;
}
.informacionProd{
    width: 55%;
    height: 420px;
    margin-top: 5%;
    margin-left: 3%;
    float: left;
}
.informacionProd h1{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.informacionProd h2{
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63,34,18);
}
.informacionProd h3{
    font-size: 20px;
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.Verificacion{
    text-align: center;
    margin-top: 5%;
    font-size: 20px;
}

.informacion1{
    width: 100%;
    height: 45%;
    overflow-y: scroll;
}
/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.informacion1::-webkit-scrollbar {
    -webkit-appearance: none;
}

.informacion1::-webkit-scrollbar:vertical {
    width:10px;
}

.informacion1::-webkit-scrollbar-button:increment,.informacion1::-webkit-scrollbar-button {
    display: none;
} 

.informacion1::-webkit-scrollbar:horizontal {
    height: 10px;
}

.informacion1::-webkit-scrollbar-thumb {
    background-color: rgb(122,17,17);
    border-radius: 20px;
    border: 2px solid rgb(189,138,62);
}

.informacion1::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.informacion2{
    width: 100%;
    height: 45%;
}

.informacion1 h1{
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.informacion2 h1{
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.informacion2 h2{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(63,34,18);
}
.informacion2 h3{
    font-size: 15px;
    
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}